.container{
    background: #F2F2F2;
}
    .Boxes{
        display: flex; 
        justify-content: space-around;
        padding-top: 1%;
        border: 0px, 50px, 50px, 0px;
        div{
            display: flex;  
            height: 152px;
            width: 377px;
            background: #FFFFFF;
            border: 1px solid rgba(63, 63, 68, 0.005);
            box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 1px 0px rgba(63, 63, 68, 0.05);
            border-radius: 4px;
        }
        :last-child{
            background: #3F51B5;
        }
    }

    .Boxes2{
        display: flex; 
        justify-content: space-around;
        padding: 1%;
        div{
            background: #FFFFFF;
            border: 1px solid rgba(63, 63, 68, 0.005);
            box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 1px 0px rgba(63, 63, 68, 0.05);
            border-radius: 4px;
            padding: 10px;
        }
        .Graphic{
            display: flex;  
            height: 545px;
            width: 1191px;
            
        }   
        .Calendar{
            display: flex;  
            height: 545px;
            width: 377px;
            img{
                height: 520px;
                width: 355px;
            }
        }
    }    
    .Boxes3{
        display: flex; 
        justify-content: space-around;
        padding: 1%;
        div{
            background: #FFFFFF;
            border: 1px solid rgba(63, 63, 68, 0.005);
            box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 1px 0px rgba(63, 63, 68, 0.05);
            border-radius: 4px;
            padding: 10px;
        }
        .Products{ 
            display: flex;  
            height: 518px;
            width: 377px;
                
        }   
        .Orders{
            display: flex;  
            height: 518px;
            width: 1193px;
        }    
    
}


 