@import '../../../Assets/variables.scss';

.Container {
  padding: 10px 15px;
  .ImageContainer {
    height: 150px;
    // margin-left: 30px;
    // margin-right: 47px;
    border-radius: 8px;
    background: linear-gradient(
      180deg,
      rgba(22, 101, 216, 0.47017) 0%,
      #000000 100%
    );
    img {
      width: 100%;
      height: 150px;
    }
  }
  .SearchBox {
    margin-left: 30px;
    margin-top: 20px;
    height: 30px;
    width: 320px;
    background: #ffffff;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15),
      0px 1px 0px rgba(63, 63, 68, 0.05);
    border-radius: 0px;
  }

  .BoxContainer {
    display: grid;
    grid-template-columns: repeat(2, 545px);
    justify-content: space-around;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 35px;
      margin-top: 30px;
      width: 100%;
      height: 400px;
      background: #ffffff;
      border: 1px solid rgba(63, 63, 68, 0.005);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.582),
        0px 1px 0px rgba(63, 63, 68, 0.05);
      border-radius: 8px;
      & > img {
        width: 40px;
        height: 40px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: justify;
        margin-top: 15px;
        color: #66788a;
      }
      & > h2 {
        margin-top: 10px;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
        color: #212b36;
      }
      & > div {
        display: flex;
        p {
          font-size: 20px;
          margin: 15px 5px 0 5px;
          color: #212b36;
        }
      }
      button {
        color: #fff;
        height: 40px;
        background: #1665d8;
        margin-top: 10px;
        border-radius: 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2),
          0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
        width: 100%;
        margin-top: auto;
      }
    }
  }
}

@media only screen and (max-width: $md) {
  .Container {
    .BoxContainer {
      grid-template-columns: repeat(1, 365px);
    }
  }
}
