@import '../../Assets/variables.scss';

.Container{
  .Banner {
    width: 100%;
    height: 100vh;
    h1{
      margin-bottom: 2%;
      font-size: 250%;
    }
    p{
      font-size: 130%;
      text-align: justify;
    }
    img {
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .Content{
      width:500px;
      height:100px;
      position:absolute;
      top:30%;
      left:10%;
      display: flex;
      flex-direction: column;
      button {
        color: #fff;
        background: #1665d8;
        margin-top: 24px;
        width: 40%;
        height: 40px;
        margin:4% 4% 0 0;
      }
      .Buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }    
  }
  .BannerSec {
    width: 100%;
    height: 50vh;
    img {
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .Boxes {
      display: flex;
      justify-content: space-around;
      padding-top: 7%;
      color: #302e2e;
      div {
        height: 170px;
        width: 380px;
        background: #f2f2f2;
        border: 30% ;
        padding: 20px;
        font-size: 17px;
      }
      h2 {
        padding-bottom: 4%;
      }
    }
  }
}
@media only screen and (max-width: $sm) {
  .Container{
    .BannerSec{
      .Boxes {       
        div {
          font-size: 15px;
        }
      }
    }
  }
}
@media only screen and (max-width: $md) {
  .Container{
    .BannerSec{
      .Boxes {       
        div {
          font-size: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: $lg) {
  .Container{
    .BannerSec{
      .Boxes {       
        div {
          font-size: 100%;
        }
      }
    }
  }
}