.Container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  width: 100%;
  .ProfilePicture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 24px;
    height: 255px;
    width: 380px;
    background: #ffffff;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15),
      0px 1px 0px rgba(63, 63, 68, 0.05);
    border-radius: 4px;
    .UserContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;

      .Name {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        h3 {
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: -0.06px;
          color: #212529;
        }
        p {
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          letter-spacing: -0.05px;
          color: #9ea0a5;
        }
      }
      .PictureContainer {
        img {
          object-fit: cover;
          height: 140px;
          width: 140px;
        }
      }
    }
    .PictureButtons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: auto;
      border-top: 1px solid #e4e7eb;
      button {
        height: 60px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #1665d8;
      }
      button + button {
        color: #425a70;
      }
    }
  }
  .FormContainer {
    width: 800px;
    height: 100%;
    background: #ffffff;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15),
      0px 1px 0px rgba(63, 63, 68, 0.05);
    border-radius: 4px;
    .FormNav {
      display: flex;
      align-items: center;
      padding: 0px 24px;
      height: 50px;
      border-bottom: 1px solid #e4e7eb;
      div {
        display: flex;
        align-items: center;
        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.05px;
          color: #3a3b3f;
          margin-right: 16px;
        }
        p + p {
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          color: #66788a;
        }
      }
    }
    form {
      padding: 15px 0;
      div {
        width: 100%;
        display: flex;
        padding: 0px 10px 0px 10px;
        div {
          display: flex;
          flex-direction: column;
          padding: 0px 10px;
          width: 100%;
          .StyledInput {
            border: 1px solid rgba(0, 0, 0, 0.32);
            border-radius: 4px;
            margin-bottom: 16px;
            font-size: 16px;
            padding: 0 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: rgba(0, 0, 0, 0.6);
            height: 50px;
            width: 100%;
          }
          .StyledFocus {
            border: 2px solid #1665d8;
            border-radius: 4px;
            margin-bottom: 16px;
            font-size: 16px;
            padding: 0 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: rgba(0, 0, 0, 0.6);
            height: 50px;
            width: 100%;
          }
        }
      }
      div + div {
        margin: 0;
      }
      .ButtonForm {
        margin: 0;
        border-top: 1px solid #212529;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          height: 50px;
          width: 100%;
          border-radius: 4px;
          background-color: #1665d8;
          font-family: Roboto;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 1.25px;
          text-transform: uppercase;
          margin: 0 10px;
          // max-width: 500px;
          color: #ffffff;
        }
      }
    }
  }
}
